body {
  margin: 0 auto;
  padding: 0;
  min-width: 20em;
  max-width: 50em;
  background-color: black;
  color: white;
}


#header {
  color: black;
  background-color: white;
  padding: 10px;
}

#navigation {
  color: black;
  a {
    color: black;
  }
}

#content {
  padding: 10px;
  a {
    color: white;
  }
}


 